#user-rooms {
  margin-top: 10px;
  h2 {
    font-family: 'Poppins', sans-serif;
  }
  .active-rooms-list {
    text-align: center;
    // border: 2px solid #835afd;
    border: 2px solid var(--purple);
    border-radius: 8px;
    padding: 1rem;
    height: max-content;
    max-height: 150px;
    overflow: auto;

    a {
      text-decoration: none;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      
      p {
        margin-bottom: 3px;
        // background: #835afd;
        background: var(--purple);
        border-radius: 2px;
        padding: 2px;
        max-width: 100%;

      }
    }
  }
}