* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg: #414141;
  --gray-border: #565656;
  --bg-input-text: #666262;
  --text: #fff;
  --purple: #5439a3;
  // --purple-like: #000000;
  --dark-gray: #2e2f30;
}

body {
  // background: #f8f8f8;
  background: var(--bg);
  // color: #29292e;
  color: var(--text);
  height: 100vh;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.mt-4{
  margin-top: 32px;
}

.mt-8{
  margin-top: 64px;
}